body {
  background: white;
}

@import url("https://fonts.googleapis.com/css?family=Lato:300&display=swap");
@font-face {
  font-family: 'proximanovasoft-regular';
  src: url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/proximanovasoft-regular-webfont.eot");
  src: url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/proximanovasoft-regular-webfont.eot?#iefix") format("embedded-opentype"), url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/proximanovasoft-regular-webfont.woff2") format("woff2"), url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/proximanovasoft-regular-webfont.woff") format("woff"), url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/proximanovasoft-regular-webfont.ttf") format("truetype"), url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/proximanovasoft-regular-webfont.svg#proximanovasoft-regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proximanovasoft-bold';
  src: url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/ProximaNovaSoft-Bold-webfont.eot");
  src: url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/ProximaNovaSoft-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/ProximaNovaSoft-Bold-webfont.woff2") format("woff2"), url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/ProximaNovaSoft-Bold-webfont.woff") format("woff"), url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/ProximaNovaSoft-Bold-webfont.ttf") format("truetype"), url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/ProximaNovaSoft-Bold-webfont.svg#proximanovasoft-bold") format("svg");
  font-weight: normal;
  font-style: normal; }

.hw-btn {
  border-radius: 8px;
  padding: 20px 37px;
  background: #E8512D;
  display: table;
  margin: 0 auto; }
  .hw-btn a {
    font-family: "proximanovasoft-bold";
    font-size: 30px;
    color: #ffffff;
    text-decoration: none; }

a.link, a.link:visited, a.link:active {
  font-family: "proximanovasoft-regular";
  color: #005D8D;
  font-size: 20px;
  outline: none; }

@media screen and (max-width: 600px) {
  .hw-btn {
    padding: 15px 32px; }
    .hw-btn a {
      font-size: 20px; } }

html {
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #2d2d2d; }

body {
  width: 100%; }

a:link,
a:visited,
a:hover,
a:active {
  outline: none; }

header#hero {
  position: relative;
  padding-top: 38px;
  height: 100vh;
  min-height: 500px;
  background-image: url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/header_collage@2x@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  header#hero .head-wrapp {
    width: 100%;
    height: 54px;
    margin-bottom: 118px; }
    header#hero .head-wrapp a {
      display: table;
      margin: 0 auto; }
      header#hero .head-wrapp a img {
        width: auto;
        height: 54px; }
  header#hero .main h1 {
    font-size: 50px;
    max-width: 848px;
    font-family: "proximanovasoft-regular";
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    color: #2d2d2d; }
  header#hero .main .learn {
    margin: 30px 0; }
  header#hero .main .link {
    display: block;
    text-align: center; }

@media screen and (max-width: 600px) {
  header#hero {
    padding-top: 15px;
    background-image: url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/header_collage_mob@2x.png");
    max-height: 1024px; }
    header#hero .head-wrapp {
      margin-bottom: 30px; }
    header#hero .main h1 {
      font-size: 25px;
      max-width: 320px; }
    header#hero .main .learn {
      margin: 20px auto; } }

@media screen and (max-width: 420px) {
  header#hero .head-wrapp {
    margin-bottom: 18px; }
    header#hero .head-wrapp a img {
      height: 45px; } }

#slider-wrapper {
  position: relative;
  width: 100%;
  height: 850px; }
  #slider-wrapper .scroll-left,
  #slider-wrapper .scroll-right {
    position: absolute;
    height: 100%;
    width: 16%;
    z-index: 100;
    border: none;
    background: none;
    outline: none;
    top: 0;
    cursor: pointer; }
  #slider-wrapper .scroll-left {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
    left: 0; }
  #slider-wrapper .scroll-right {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
    background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
    right: 0; }

#slider {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#dbdbdb));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #dbdbdb);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), #dbdbdb);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #dbdbdb);
  -webkit-box-shadow: 0 -1px 90px rgba(0, 0, 0, 0.53);
  box-shadow: 0 -1px 90px rgba(0, 0, 0, 0.53);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 50; }
  #slider .case-wrapper {
    position: absolute;
    width: 1000px;
    height: 700px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.31);
    background: white;
    z-index: 25;
    /*.......*/
    /*content*/
    /*'''''''*/ }
    #slider .case-wrapper .title {
      font-family: "proximanovasoft-bold";
      font-size: 30px;
      text-align: center;
      margin: 30px 0 15px 0; }
    #slider .case-wrapper .decoration-wrapper {
      margin-bottom: 20px; }
      #slider .case-wrapper .decoration-wrapper .decoration {
        display: table;
        height: 90px;
        width: 360px;
        margin: 0 auto;
        background-image: url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/slider/price_banner_desktop@2x.png");
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain; }
        #slider .case-wrapper .decoration-wrapper .decoration p,
        #slider .case-wrapper .decoration-wrapper .decoration h4 {
          font-family: "proximanovasoft-bold";
          color: white;
          text-align: center; }
        #slider .case-wrapper .decoration-wrapper .decoration p {
          font-size: 20px;
          line-height: 10px;
          margin-top: 14px; }
        #slider .case-wrapper .decoration-wrapper .decoration h4 {
          font-size: 40px; }
    #slider .case-wrapper .content {
      height: 360px;
      padding-left: 25px; }
      #slider .case-wrapper .content .bio-img {
        float: left;
        width: 40%;
        height: 100%; }
        #slider .case-wrapper .content .bio-img img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover; }
      #slider .case-wrapper .content .bio-info {
        float: left;
        padding: 0 25px;
        width: 60%; }
        #slider .case-wrapper .content .bio-info .bubble {
          width: 100%;
          background-image: -webkit-gradient(linear, left top, left bottom, from(#E3E3E3), to(#ffffff));
          background-image: -webkit-linear-gradient(top, #E3E3E3, #ffffff);
          background-image: -o-linear-gradient(top, #E3E3E3, #ffffff);
          background-image: linear-gradient(to bottom, #E3E3E3, #ffffff);
          border-radius: 35px 0px 35px 35px;
          padding: 28px 50px; }
          #slider .case-wrapper .content .bio-info .bubble p {
            font-family: "proximanovasoft-regular";
            font-style: italic;
            font-size: 25px;
            text-align: center; }
        #slider .case-wrapper .content .bio-info .comment {
          font-family: "proximanovasoft-regular";
          font-size: 25px;
          margin: 37px 0; }
          #slider .case-wrapper .content .bio-info .comment a {
            text-transform: uppercase;
            color: #E8512D;
            text-decoration: none; }
        #slider .case-wrapper .content .bio-info .hw-btn a {
          text-decoration: none; }
    #slider .case-wrapper .foot {
      text-align: center;
      padding-top: 65px; }
      #slider .case-wrapper .foot .link {
        font-size: 25px; }
    #slider .case-wrapper.left {
      -webkit-transform: translate(-60%, 0%) scale(0.8);
      -ms-transform: translate(-60%, 0%) scale(0.8);
      transform: translate(-60%, 0%) scale(0.8);
      z-index: 5; }
    #slider .case-wrapper.from-left {
      -webkit-animation-name: minFromLeft;
      animation-name: minFromLeft;
      -webkit-animation-duration: 0.7s;
      animation-duration: 0.7s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      z-index: 100; }

@-webkit-keyframes minFromLeft {
  from {
    opacity: 0.8;
    -webkit-transform: translate(-60%, 0%) scale(0.8);
    transform: translate(-60%, 0%) scale(0.8); }
  to {
    opacity: 1;
    -webkit-transform: translate(0%, 0%) scale(1);
    transform: translate(0%, 0%) scale(1); } }

@keyframes minFromLeft {
  from {
    opacity: 0.8;
    -webkit-transform: translate(-60%, 0%) scale(0.8);
    transform: translate(-60%, 0%) scale(0.8); }
  to {
    opacity: 1;
    -webkit-transform: translate(0%, 0%) scale(1);
    transform: translate(0%, 0%) scale(1); } }
    #slider .case-wrapper.to-left {
      -webkit-animation-name: minToLeft;
      animation-name: minToLeft;
      -webkit-animation-duration: 0.7s;
      animation-duration: 0.7s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }

@-webkit-keyframes minToLeft {
  from {
    opacity: 1;
    -webkit-transform: translate(0%, 0%) scale(1);
    transform: translate(0%, 0%) scale(1); }
  to {
    opacity: 0.8;
    -webkit-transform: translate(-60%, 0%) scale(0.8);
    transform: translate(-60%, 0%) scale(0.8); } }

@keyframes minToLeft {
  from {
    opacity: 1;
    -webkit-transform: translate(0%, 0%) scale(1);
    transform: translate(0%, 0%) scale(1); }
  to {
    opacity: 0.8;
    -webkit-transform: translate(-60%, 0%) scale(0.8);
    transform: translate(-60%, 0%) scale(0.8); } }
    #slider .case-wrapper.right {
      -webkit-transform: translate(70%, 0%) scale(0.8);
      -ms-transform: translate(70%, 0%) scale(0.8);
      transform: translate(70%, 0%) scale(0.8);
      z-index: 1;
      opacity: 0.8; }
    #slider .case-wrapper.from-right {
      -webkit-animation-name: minFromRight;
      animation-name: minFromRight;
      -webkit-animation-duration: 0.7s;
      animation-duration: 0.7s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      z-index: 100; }

@-webkit-keyframes minFromRight {
  from {
    opacity: 0.8;
    -webkit-transform: translate(70%, 0%) scale(0.8);
    transform: translate(70%, 0%) scale(0.8); }
  to {
    opacity: 1;
    -webkit-transform: translate(0%, 0%) scale(1);
    transform: translate(0%, 0%) scale(1); } }

@keyframes minFromRight {
  from {
    opacity: 0.8;
    -webkit-transform: translate(70%, 0%) scale(0.8);
    transform: translate(70%, 0%) scale(0.8); }
  to {
    opacity: 1;
    -webkit-transform: translate(0%, 0%) scale(1);
    transform: translate(0%, 0%) scale(1); } }
    #slider .case-wrapper.to-right {
      -webkit-animation-name: minToRight;
      animation-name: minToRight;
      -webkit-animation-duration: 0.7s;
      animation-duration: 0.7s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }

@-webkit-keyframes minToRight {
  from {
    opacity: 1;
    -webkit-transform: translate(0%, 0%) scale(1);
    transform: translate(0%, 0%) scale(1); }
  to {
    opacity: 0.8;
    -webkit-transform: translate(70%, 0%) scale(0.8);
    transform: translate(70%, 0%) scale(0.8); } }

@keyframes minToRight {
  from {
    opacity: 1;
    -webkit-transform: translate(0%, 0%) scale(1);
    transform: translate(0%, 0%) scale(1); }
  to {
    opacity: 0.8;
    -webkit-transform: translate(70%, 0%) scale(0.8);
    transform: translate(70%, 0%) scale(0.8); } }
    #slider .case-wrapper.center {
      -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
      z-index: 10;
      opacity: 1; }
    #slider .case-wrapper.out {
      -webkit-transform: translate(0%, 200%);
      -ms-transform: translate(0%, 200%);
      transform: translate(0%, 200%); }
    #slider .case-wrapper.from-out-right {
      -webkit-animation-name: minFromOutRight;
      animation-name: minFromOutRight;
      -webkit-animation-duration: 0.7s;
      animation-duration: 0.7s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    #slider .case-wrapper.out-right {
      opacity: 0.8;
      -webkit-transform: translate(206%, 0%);
      -ms-transform: translate(206%, 0%);
      transform: translate(206%, 0%); }
    #slider .case-wrapper.out-left {
      opacity: 0.8;
      -webkit-transform: translate(-206%, 0%);
      -ms-transform: translate(-206%, 0%);
      transform: translate(-206%, 0%); }

@-webkit-keyframes minFromOutRight {
  from {
    opacity: 0.8;
    -webkit-transform: translate(250%, 0%) scale(0.8);
    transform: translate(250%, 0%) scale(0.8); }
  to {
    opacity: 0.8;
    -webkit-transform: translate(70%, 0%) scale(0.8);
    transform: translate(70%, 0%) scale(0.8); } }

@keyframes minFromOutRight {
  from {
    opacity: 0.8;
    -webkit-transform: translate(250%, 0%) scale(0.8);
    transform: translate(250%, 0%) scale(0.8); }
  to {
    opacity: 0.8;
    -webkit-transform: translate(70%, 0%) scale(0.8);
    transform: translate(70%, 0%) scale(0.8); } }
    #slider .case-wrapper.to-out-left {
      -webkit-animation-name: minToOutLeft;
      animation-name: minToOutLeft;
      -webkit-animation-duration: 0.7s;
      animation-duration: 0.7s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }

@-webkit-keyframes minToOutLeft {
  from {
    opacity: 0.8;
    -webkit-transform: translate(-60%, 0%) scale(0.8);
    transform: translate(-60%, 0%) scale(0.8); }
  to {
    opacity: 0.8;
    -webkit-transform: translate(-250%, 0%) scale(0.8);
    transform: translate(-250%, 0%) scale(0.8); } }

@keyframes minToOutLeft {
  from {
    opacity: 0.8;
    -webkit-transform: translate(-60%, 0%) scale(0.8);
    transform: translate(-60%, 0%) scale(0.8); }
  to {
    opacity: 0.8;
    -webkit-transform: translate(-250%, 0%) scale(0.8);
    transform: translate(-250%, 0%) scale(0.8); } }
    #slider .case-wrapper.from-out-left {
      -webkit-animation-name: minFromOutLeft;
      animation-name: minFromOutLeft;
      -webkit-animation-duration: 0.7s;
      animation-duration: 0.7s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }

@-webkit-keyframes minFromOutLeft {
  from {
    opacity: 0.8;
    -webkit-transform: translate(-250%, 0%) scale(0.8);
    transform: translate(-250%, 0%) scale(0.8); }
  to {
    opacity: 0.8;
    -webkit-transform: translate(-60%, 0%) scale(0.8);
    transform: translate(-60%, 0%) scale(0.8); } }

@keyframes minFromOutLeft {
  from {
    opacity: 0.8;
    -webkit-transform: translate(-250%, 0%) scale(0.8);
    transform: translate(-250%, 0%) scale(0.8); }
  to {
    opacity: 0.8;
    -webkit-transform: translate(-60%, 0%) scale(0.8);
    transform: translate(-60%, 0%) scale(0.8); } }
    #slider .case-wrapper.to-out-right {
      -webkit-animation-name: minToOutRight;
      animation-name: minToOutRight;
      -webkit-animation-duration: 0.7s;
      animation-duration: 0.7s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }

@-webkit-keyframes minToOutRight {
  from {
    opacity: 0.8;
    -webkit-transform: translate(70%, 0%) scale(0.8);
    transform: translate(70%, 0%) scale(0.8); }
  to {
    opacity: 0.8;
    -webkit-transform: translate(250%, 0%) scale(0.8);
    transform: translate(250%, 0%) scale(0.8); } }

@keyframes minToOutRight {
  from {
    opacity: 0.8;
    -webkit-transform: translate(70%, 0%) scale(0.8);
    transform: translate(70%, 0%) scale(0.8); }
  to {
    opacity: 0.8;
    -webkit-transform: translate(250%, 0%) scale(0.8);
    transform: translate(250%, 0%) scale(0.8); } }

@media screen and (max-width: 600px) {
  #slider-wrapper {
    height: 880px; }
    #slider-wrapper .scroll-left,
    #slider-wrapper .scroll-right {
      background-image: none; }
      #slider-wrapper .scroll-left::before,
      #slider-wrapper .scroll-right::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 40px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-image: url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/play-symbol.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
    #slider-wrapper .scroll-left::before {
      -webkit-transform: translate(-50%, -50%) rotate(180deg);
      -ms-transform: translate(-50%, -50%) rotate(180deg);
      transform: translate(-50%, -50%) rotate(180deg); }
  #slider {
    height: 100%;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none; }
    #slider .case-wrapper {
      width: 98%;
      height: 97%; }
      #slider .case-wrapper .title {
        font-size: 19px; }
      #slider .case-wrapper .decoration-wrapper .decoration {
        width: 330px;
        height: 60px; }
        #slider .case-wrapper .decoration-wrapper .decoration p {
          margin-top: 11px;
          font-size: 16px;
          line-height: 6px; }
        #slider .case-wrapper .decoration-wrapper .decoration h4 {
          font-size: 28px; }
      #slider .case-wrapper .content {
        padding: 10px;
        height: initial; }
        #slider .case-wrapper .content .bio-img,
        #slider .case-wrapper .content .bio-info {
          float: none;
          width: 100%;
          margin: none; }
        #slider .case-wrapper .content .bio-info {
          padding: 10px; }
          #slider .case-wrapper .content .bio-info .bubble {
            padding: 10px; }
            #slider .case-wrapper .content .bio-info .bubble p {
              font-size: 18px; }
          #slider .case-wrapper .content .bio-info .comment {
            font-size: 18px;
            text-align: center; }
      #slider .case-wrapper .foot {
        padding: 0 20px; }
        #slider .case-wrapper .foot .link {
          padding: 0;
          font-size: 22px; }
      #slider .case-wrapper.left {
        -webkit-transform: translate(-60%, 0%) scale(0.8);
        -ms-transform: translate(-60%, 0%) scale(0.8);
        transform: translate(-60%, 0%) scale(0.8);
        z-index: 5;
        opacity: 0; }
      #slider .case-wrapper.from-left {
        -webkit-animation-name: minFromLeft;
        animation-name: minFromLeft;
        -webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        z-index: 100; }
  @-webkit-keyframes minFromLeft {
    from {
      opacity: 0;
      -webkit-transform: translate(-60%, 0%) scale(0.8);
      transform: translate(-60%, 0%) scale(0.8); }
    to {
      opacity: 1;
      -webkit-transform: translate(0%, 0%) scale(1);
      transform: translate(0%, 0%) scale(1); } }
  @keyframes minFromLeft {
    from {
      opacity: 0;
      -webkit-transform: translate(-60%, 0%) scale(0.8);
      transform: translate(-60%, 0%) scale(0.8); }
    to {
      opacity: 1;
      -webkit-transform: translate(0%, 0%) scale(1);
      transform: translate(0%, 0%) scale(1); } }
      #slider .case-wrapper.to-left {
        -webkit-animation-name: minToLeft;
        animation-name: minToLeft;
        -webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
  @-webkit-keyframes minToLeft {
    from {
      opacity: 1;
      -webkit-transform: translate(0%, 0%) scale(1);
      transform: translate(0%, 0%) scale(1); }
    to {
      opacity: 0;
      -webkit-transform: translate(-60%, 0%) scale(0.8);
      transform: translate(-60%, 0%) scale(0.8); } }
  @keyframes minToLeft {
    from {
      opacity: 1;
      -webkit-transform: translate(0%, 0%) scale(1);
      transform: translate(0%, 0%) scale(1); }
    to {
      opacity: 0;
      -webkit-transform: translate(-60%, 0%) scale(0.8);
      transform: translate(-60%, 0%) scale(0.8); } }
      #slider .case-wrapper.right {
        -webkit-transform: translate(70%, 0%) scale(0.8);
        -ms-transform: translate(70%, 0%) scale(0.8);
        transform: translate(70%, 0%) scale(0.8);
        z-index: 1;
        opacity: 0; }
      #slider .case-wrapper.from-right {
        -webkit-animation-name: minFromRight;
        animation-name: minFromRight;
        -webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        z-index: 100; }
  @-webkit-keyframes minFromRight {
    from {
      opacity: 0;
      -webkit-transform: translate(70%, 0%) scale(0.8);
      transform: translate(70%, 0%) scale(0.8); }
    to {
      opacity: 1;
      -webkit-transform: translate(0%, 0%) scale(1);
      transform: translate(0%, 0%) scale(1); } }
  @keyframes minFromRight {
    from {
      opacity: 0;
      -webkit-transform: translate(70%, 0%) scale(0.8);
      transform: translate(70%, 0%) scale(0.8); }
    to {
      opacity: 1;
      -webkit-transform: translate(0%, 0%) scale(1);
      transform: translate(0%, 0%) scale(1); } }
      #slider .case-wrapper.to-right {
        -webkit-animation-name: minToRight;
        animation-name: minToRight;
        -webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
  @-webkit-keyframes minToRight {
    from {
      opacity: 1;
      -webkit-transform: translate(0%, 0%) scale(1);
      transform: translate(0%, 0%) scale(1); }
    to {
      opacity: 0;
      -webkit-transform: translate(70%, 0%) scale(0.8);
      transform: translate(70%, 0%) scale(0.8); } }
  @keyframes minToRight {
    from {
      opacity: 1;
      -webkit-transform: translate(0%, 0%) scale(1);
      transform: translate(0%, 0%) scale(1); }
    to {
      opacity: 0;
      -webkit-transform: translate(70%, 0%) scale(0.8);
      transform: translate(70%, 0%) scale(0.8); } }
      #slider .case-wrapper.center {
        -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        z-index: 10;
        opacity: 1; }
      #slider .case-wrapper.out {
        -webkit-transform: translate(0%, 200%);
        -ms-transform: translate(0%, 200%);
        transform: translate(0%, 200%); }
      #slider .case-wrapper.from-out-right {
        -webkit-animation-name: minFromOutRight;
        animation-name: minFromOutRight;
        -webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
      #slider .case-wrapper.out-right {
        opacity: 0;
        -webkit-transform: translate(206%, 0%);
        -ms-transform: translate(206%, 0%);
        transform: translate(206%, 0%); }
      #slider .case-wrapper.out-left {
        opacity: 0;
        -webkit-transform: translate(-206%, 0%);
        -ms-transform: translate(-206%, 0%);
        transform: translate(-206%, 0%); }
  @-webkit-keyframes minFromOutRight {
    from {
      opacity: 0;
      -webkit-transform: translate(250%, 0%) scale(0.8);
      transform: translate(250%, 0%) scale(0.8); }
    to {
      opacity: 0;
      -webkit-transform: translate(70%, 0%) scale(0.8);
      transform: translate(70%, 0%) scale(0.8); } }
  @keyframes minFromOutRight {
    from {
      opacity: 0;
      -webkit-transform: translate(250%, 0%) scale(0.8);
      transform: translate(250%, 0%) scale(0.8); }
    to {
      opacity: 0;
      -webkit-transform: translate(70%, 0%) scale(0.8);
      transform: translate(70%, 0%) scale(0.8); } }
      #slider .case-wrapper.to-out-left {
        -webkit-animation-name: minToOutLeft;
        animation-name: minToOutLeft;
        -webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
  @-webkit-keyframes minToOutLeft {
    from {
      opacity: 0;
      -webkit-transform: translate(-60%, 0%) scale(0.8);
      transform: translate(-60%, 0%) scale(0.8); }
    to {
      opacity: 0;
      -webkit-transform: translate(-250%, 0%) scale(0.8);
      transform: translate(-250%, 0%) scale(0.8); } }
  @keyframes minToOutLeft {
    from {
      opacity: 0;
      -webkit-transform: translate(-60%, 0%) scale(0.8);
      transform: translate(-60%, 0%) scale(0.8); }
    to {
      opacity: 0;
      -webkit-transform: translate(-250%, 0%) scale(0.8);
      transform: translate(-250%, 0%) scale(0.8); } }
      #slider .case-wrapper.from-out-left {
        -webkit-animation-name: minFromOutLeft;
        animation-name: minFromOutLeft;
        -webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
  @-webkit-keyframes minFromOutLeft {
    from {
      opacity: 0;
      -webkit-transform: translate(-250%, 0%) scale(0.8);
      transform: translate(-250%, 0%) scale(0.8); }
    to {
      opacity: 0;
      -webkit-transform: translate(-60%, 0%) scale(0.8);
      transform: translate(-60%, 0%) scale(0.8); } }
  @keyframes minFromOutLeft {
    from {
      opacity: 0;
      -webkit-transform: translate(-250%, 0%) scale(0.8);
      transform: translate(-250%, 0%) scale(0.8); }
    to {
      opacity: 0;
      -webkit-transform: translate(-60%, 0%) scale(0.8);
      transform: translate(-60%, 0%) scale(0.8); } }
      #slider .case-wrapper.to-out-right {
        -webkit-animation-name: minToOutRight;
        animation-name: minToOutRight;
        -webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
  @-webkit-keyframes minToOutRight {
    from {
      opacity: 0;
      -webkit-transform: translate(70%, 0%) scale(0.8);
      transform: translate(70%, 0%) scale(0.8); }
    to {
      opacity: 0;
      -webkit-transform: translate(250%, 0%) scale(0.8);
      transform: translate(250%, 0%) scale(0.8); } }
  @keyframes minToOutRight {
    from {
      opacity: 0;
      -webkit-transform: translate(70%, 0%) scale(0.8);
      transform: translate(70%, 0%) scale(0.8); }
    to {
      opacity: 0;
      -webkit-transform: translate(250%, 0%) scale(0.8);
      transform: translate(250%, 0%) scale(0.8); } } }

@media screen and (max-width: 500px) {
  #slider-wrapper {
    height: 850px; } }

@media screen and (max-width: 420px) {
  #slider-wrapper {
    height: 820px; } }

section#for-real {
  padding-top: 60px;
  text-align: center;
  -webkit-box-shadow: 0 -1px 90px rgba(0, 0, 0, 0.53);
  box-shadow: 0 -1px 90px rgba(0, 0, 0, 0.53);
  padding-bottom: 60px; }
  section#for-real .head h3 {
    font-size: 45px;
    color: #E8512D;
    margin-bottom: 30px;
    font-family: "proximanovasoft-bold"; }
  section#for-real .head p {
    font-size: 25px;
    font-family: "proximanovasoft-regular";
    max-width: 646px;
    margin: 0 auto; }
  section#for-real .social-icons {
    width: 100%;
    max-width: 800px;
    margin: 40px auto; }
    section#for-real .social-icons .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 20px 0; }
    section#for-real .social-icons div:first-child {
      padding: 0 40px; }
  section#for-real .hw-btn {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 30px; }
  section#for-real .advice {
    text-align: center; }
    section#for-real .advice .head {
      font-family: "proximanovasoft-regular";
      font-size: 30px;
      color: #E8512D; }
    section#for-real .advice .box {
      display: table;
      margin: 5px auto;
      padding: 5px 45px;
      font-family: "proximanovasoft-bold";
      font-size: 55px;
      color: white;
      background-color: #429038;
      -webkit-box-shadow: 5px 5px 0px #2E6A27;
      box-shadow: 5px 5px 0px #2E6A27; }
    section#for-real .advice .small {
      font-family: "proximanovasoft-regular";
      font-size: 25px;
      max-width: 410px;
      margin: 30px auto; }
      section#for-real .advice .small b {
        font-family: "proximanovasoft-bold"; }
  section#for-real .winners-wrapper .head {
    text-align: center;
    font-family: "proximanovasoft-bold";
    font-size: 35px;
    margin-bottom: 35px; }
  section#for-real .winners-wrapper .container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: table;
    padding-left: 30px; }
    section#for-real .winners-wrapper .container .winner {
      width: calc(24.9% - 30px);
      float: left;
      margin-right: 30px; }
      section#for-real .winners-wrapper .container .winner img {
        width: 100%;
        height: auto;
        margin-bottom: 5px; }
      section#for-real .winners-wrapper .container .winner .link {
        font-size: 25px; }
  section#for-real .winners-wrapper .linkrow {
    margin-top: 50px; }
    section#for-real .winners-wrapper .linkrow .link {
      font-size: 25px;
      margin-left: 5px; }

@media screen and (max-width: 600px) {
  section#for-real {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 20px 30px; }
    section#for-real .head {
      margin-top: 30px; }
      section#for-real .head h3 {
        font-size: 35px;
        margin-bottom: 20px; }
      section#for-real .head p {
        padding: 0 10px;
        font-size: 24px; }
    section#for-real .social-icons .row {
      max-width: 450px;
      margin: 20px auto; }
      section#for-real .social-icons .row img {
        max-width: 95px;
        height: auto; }
    section#for-real .social-icons div:first-child {
      padding: 10px; }
    section#for-real .social-icons div:nth-child(2) img {
      max-width: 130px; }
    section#for-real .hw-btn {
      margin-bottom: 50px; }
    section#for-real .advice .head {
      margin-bottom: 15px; }
    section#for-real .advice .box {
      font-size: 24px; }
    section#for-real .advice .small {
      font-size: 24px;
      padding: 10px;
      margin: 10px auto; }
    section#for-real .winners-wrapper .container {
      padding: 0 10px; }
      section#for-real .winners-wrapper .container .winner {
        width: calc(49.9% - 30px);
        margin: 15px; }
        section#for-real .winners-wrapper .container .winner .link {
          font-size: 19px; }
    section#for-real .winners-wrapper .linkrow {
      padding: 0 5px; }
      section#for-real .winners-wrapper .linkrow .link {
        font-size: 19px; } }

@media screen and (max-width: 600px) {
  section#for-real .social-icons .row {
    max-width: 100%;
    margin: 20px auto; }
    section#for-real .social-icons .row img {
      max-width: 75px;
      height: auto; }
  section#for-real .social-icons div:first-child {
    padding: 10px; }
  section#for-real .social-icons div:nth-child(2) img {
    max-width: 130px; } }

section#recent-winners,
section.winners-cards,
#recent-winners-container {
  padding-bottom: 600px;
  text-align: center;
  padding-bottom: 60px;
  background: #e5e5e5; }
  section#recent-winners p.head,
  section.winners-cards p.head,
  #recent-winners-container p.head {
    font-family: "proximanovasoft-bold";
    font-size: 45px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    color: #E8512D; }
  section#recent-winners .container,
  section.winners-cards .container,
  #recent-winners-container .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: table; }
    section#recent-winners .container .box,
    section.winners-cards .container .box,
    #recent-winners-container .container .box {
      position: relative;
      float: left;
      width: 370px;
      height: 160px;
      margin-right: 30px;
      margin-bottom: 30px;
      padding: 23px 0px 23px 19px;
      background: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.31);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.31); }
      section#recent-winners .container .box .box-link,
      section.winners-cards .container .box .box-link,
      #recent-winners-container .container .box .box-link {
        position: absolute;
        display: table;
        width: 100%;
        height: 100%; }
      section#recent-winners .container .box img,
      section.winners-cards .container .box img,
      #recent-winners-container .container .box img {
        width: 115px;
        height: auto;
        max-height: 115px;
        max-width: 115px;
        border-radius: 100%;
        border: 2px solid #707070; }
      section#recent-winners .container .box p,
      section.winners-cards .container .box p,
      #recent-winners-container .container .box p {
        font-family: "proximanovasoft-regular";
        font-size: 20px;
        margin-left: 15px;
        text-align: left; }
        section#recent-winners .container .box p .link,
        section.winners-cards .container .box p .link,
        #recent-winners-container .container .box p .link {
          font-size: 20px; }
          section#recent-winners .container .box p .link:last-child,
          section.winners-cards .container .box p .link:last-child,
          #recent-winners-container .container .box p .link:last-child {
            font-weight: bold; }
  section#recent-winners a.link,
  section.winners-cards a.link,
  #recent-winners-container a.link {
    font-size: 30px;
    margin-bottom: 20px; }
  section#recent-winners .hw-btn,
  section.winners-cards .hw-btn,
  #recent-winners-container .hw-btn {
    margin: 30px auto 0;
    text-decoration: none; }

@media screen and (max-width: 1215px) {
  section#recent-winners .container,
  section.winners-cards .container,
  #recent-winners-container .container {
    max-width: 800px; } }

@media screen and (max-width: 815px) {
  section#recent-winners .container,
  section.winners-cards .container,
  #recent-winners-container .container {
    max-width: 400px; } }

@media screen and (max-width: 600px) {
  section#recent-winners,
  section.winners-cards,
  #recent-winners-container {
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.294) 1px, #ffffff 40px, #e5e5e5);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.294) 1px, #ffffff 40px, #e5e5e5);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.294) 1px, #ffffff 40px, #e5e5e5); }
    section#recent-winners p.head,
    section.winners-cards p.head,
    #recent-winners-container p.head {
      font-size: 35px;
      padding-top: 50px; }
    section#recent-winners .container,
    section.winners-cards .container,
    #recent-winners-container .container {
      padding: 0 0px;
      max-width: 360px;
      background: red; }
      section#recent-winners .container .box,
      section.winners-cards .container .box,
      #recent-winners-container .container .box {
        width: 100%;
        padding: 23px 15px; }
        section#recent-winners .container .box img,
        section.winners-cards .container .box img,
        #recent-winners-container .container .box img {
          width: 90px; }
        section#recent-winners .container .box p,
        section.winners-cards .container .box p,
        #recent-winners-container .container .box p {
          margin-left: 15px; }
      section#recent-winners .container .box.mob,
      section.winners-cards .container .box.mob,
      #recent-winners-container .container .box.mob {
        display: none; }
    section#recent-winners a.link,
    section.winners-cards a.link,
    #recent-winners-container a.link {
      font-size: 22px; } }

section#how-works p.head {
  font-family: "proximanovasoft-bold";
  color: #E8512D;
  text-align: center;
  font-size: 45px;
  margin-top: 50px;
  margin-bottom: 50px; }

section#how-works .container {
  display: table;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  section#how-works .container .step {
    width: 300px;
    min-height: 660px;
    padding: 0 15px;
    float: left; }
    section#how-works .container .step img {
      width: 100%;
      height: auto; }
    section#how-works .container .step h5 {
      font-family: "proximanovasoft-bold";
      font-size: 30px;
      color: #005D8D;
      text-align: center;
      height: 103px;
      margin-bottom: 20px; }
    section#how-works .container .step p {
      font-family: "proximanovasoft-regular";
      font-size: 25px;
      text-align: center; }

@media screen and (max-width: 1220px) {
  section#how-works .container {
    max-width: 600px; } }

@media screen and (max-width: 620px) {
  section#how-works .container {
    max-width: 300px; }
    section#how-works .container .step {
      min-height: initial;
      margin-bottom: 40px; } }

@media screen and (max-width: 600px) {
  section#how-works p.head {
    font-size: 35px; }
  section#how-works .step h5 {
    font-size: 35px; }
  section#how-works .step p {
    font-size: 24px; } }

/*

35
24

*/
section#see-what {
  background-image: url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/footer_collage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: center;
  height: 600px; }
  section#see-what .foot {
    padding: 40px 0; }
    section#see-what .foot h5 {
      font-family: "proximanovasoft-bold";
      text-align: center;
      font-size: 25px;
      margin-bottom: 15px; }
    section#see-what .foot p {
      font-family: "proximanovasoft-regular";
      text-align: center;
      font-size: 25px;
      max-width: 550px;
      margin: 0 auto; }

@media screen and (max-width: 600px) {
  section#see-what {
    background-image: url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/footer_collage_mob@2x.png");
    background-position: center;
    height: 800px; }
    section#see-what .foot {
      padding: 40px 0; }
      section#see-what .foot h5 {
        font-size: 24px; }
      section#see-what .foot p {
        padding: 0 10px;
        font-size: 24px; } }

section#pre-foot {
  padding-bottom: 30px; }
  section#pre-foot .hw-btn {
    margin: 20px auto; }
  section#pre-foot .link {
    display: table;
    margin: 20px auto;
    text-align: center; }

@media screen and (max-width: 600px) {
  section#pre-foot .hw-btn {
    margin-bottom: 20px; }
  section#pre-foot section#pre-foot .link {
    font-size: 22px; } }

footer {
  max-width: 1180px;
  margin: 0 auto; }
  footer * {
    font-family: "Lato";
    font-size: 14px;
    color: #bbb; }
  footer a {
    text-decoration: none; }
  footer .top {
    display: table;
    width: 100%;
    padding-bottom: 5px; }
    footer .top .container {
      display: table;
      float: right;
      text-align: center; }
      footer .top .container a {
        margin: 0 5px;
        text-transform: uppercase;
        outline: none; }
  footer .bottom {
    padding-top: 10px; }
    footer .bottom .social,
    footer .bottom .copy {
      display: table; }
    footer .bottom .social {
      float: left;
      margin-bottom: 30px; }
      footer .bottom .social a {
        display: table;
        float: left;
        width: 32px;
        height: 32px;
        margin: 0 5px;
        background-repeat: no-repeat;
        background-image: url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/img/sprite-media2.png"); }
        footer .bottom .social a.facebook {
          background-position: 0px; }
        footer .bottom .social a.tweeter {
          background-position-x: -32px; }
        footer .bottom .social a.instagram {
          background-position-x: -160px; }
        footer .bottom .social a.pinterest {
          background-position-x: -128px; }
    footer .bottom .copy {
      float: right;
      margin-top: 7px; }

@media screen and (max-width: 600px) {
  footer {
    width: 100%;
    max-width: initial; }
    footer .top {
      padding: 10px 10px 20px 10px; }
    footer .bottom .social,
    footer .bottom .copy {
      float: none;
      display: block;
      text-align: center; }
    footer .bottom .social {
      margin-top: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    footer .bottom .copy {
      margin-bottom: 30px; } }

.hidden {
  visibility: hidden !important;
  display: none !important; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
