.hw-btn {
  border-radius: 8px;
  padding: 20px 37px;
  background: $color1;
  display: table;
  margin: 0 auto;
  a {
    font-family: $ProximaNovaSoftBold;
    font-size: 30px;
    color: $mainWhite;
    text-decoration: none;
  }
}

a.link{
  &,
  &:visited,
  &:active {
    font-family: $ProximaNovaSoftRegular;
    color: $color2;
    font-size: 20px;
    outline: none;
  }
}

@media screen and (max-width: $first-break) {
  .hw-btn {
    padding: 15px 32px;
    a {
      font-size: 20px;
    }
  }
}