$ProximaNovaSoftRegular: 'proximanovasoft-regular';
@font-face {
    font-family: 'proximanovasoft-regular';
    src: url('https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/proximanovasoft-regular-webfont.eot');
    src: url('https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/proximanovasoft-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/proximanovasoft-regular-webfont.woff2') format('woff2'),
    url('https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/proximanovasoft-regular-webfont.woff') format('woff'),
    url('https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/proximanovasoft-regular-webfont.ttf') format('truetype'),
    url('https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/proximanovasoft-regular-webfont.svg#proximanovasoft-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$ProximaNovaSoftBold: 'proximanovasoft-bold';
@font-face {
    font-family: 'proximanovasoft-bold';
    src: url('https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/ProximaNovaSoft-Bold-webfont.eot');
    src: url('https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/ProximaNovaSoft-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/ProximaNovaSoft-Bold-webfont.woff2') format('woff2'),
         url('https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/ProximaNovaSoft-Bold-webfont.woff') format('woff'),
         url('https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/ProximaNovaSoft-Bold-webfont.ttf') format('truetype'),
         url('https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/fonts/ProximaNovaSoft-Bold-webfont.svg#proximanovasoft-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');
$lato: 'Lato';
