html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $mainBlack;
}

body {
  width: 100%;
}

a:link,
a:visited,
a:hover,
a:active {
  outline: none;
}