header#hero {
  position: relative;
  padding-top: 38px;
  height: 100vh;
  min-height: 500px;
  background-image: url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/header_collage@2x@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .head-wrapp {
    width: 100%;
    height: 54px;
    margin-bottom: 118px;
    a {
      display: table;
      margin: 0 auto;
      img {
        width: auto;
        height: 54px;
      }
    }
  }

  .main {
    h1 {
      font-size: 50px;
      max-width: 848px;
      font-family: $ProximaNovaSoftRegular;
      font-weight: 400;
      text-align: center;
      margin: 0 auto;
      color: $mainBlack;
    }
    .learn {
      margin: 30px 0;
    }

    .link {
      display: block;
      text-align: center;
    }
  }
}

@media screen and (max-width: $first-break) {
  header#hero {
    padding-top: 15px;
    background-image: url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/header_collage_mob@2x.png");
    max-height: 1024px;
    .head-wrapp {
      margin-bottom: 30px;
    }
    .main {
      h1{
        font-size: 25px;
        max-width: 320px;
      }
      .learn {
        margin: 20px auto;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  header#hero {
    .head-wrapp {
      margin-bottom: 18px;
      a {
        img {
          height: 45px;
        }
      }
    }
  }
}
