section#how-works {
  p.head {
    font-family: $ProximaNovaSoftBold;
    color: $color1;
    text-align: center;
    font-size: 45px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .container {
    display: table;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    .step {
      width: 300px;
      min-height: 660px;
      padding: 0 15px;
      float: left;

      img {
        width: 100%;
        height: auto;
      }

      h5 {
        font-family: $ProximaNovaSoftBold;
        font-size: 30px;
        color: $color2;
        text-align: center;
        height: 103px;
        margin-bottom: 20px;
      }
      p {
        font-family: $ProximaNovaSoftRegular;
        font-size: 25px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  section#how-works {
    .container {
      max-width: 600px;
    }
  }
}

@media screen and (max-width: 620px) {
  section#how-works {
    .container {
      max-width: 300px;
      .step {
        min-height: initial;
        margin-bottom: 40px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  section#how-works {
    p.head {
      font-size: 35px;
    }
    .step {
      h5 {
        font-size: 35px;
      }
      p {
        font-size: 24px;
      }
    }
  }
}
/*

35
24

*/
