section#recent-winners,
section.winners-cards,
#recent-winners-container {
  padding-bottom: 600px;
  text-align: center;
  padding-bottom: 60px;
  background: #e5e5e5;

  p.head {
    font-family: $ProximaNovaSoftBold;
    font-size: 45px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    color: $color1;
  }
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: table;

    .box {
      position: relative;
      float: left;
      width: 370px;
      height: 160px;
      margin-right: 30px;
      margin-bottom: 30px;
      padding: 23px 0px 23px 19px;
      background: white;

      display: flex;
      align-items: center;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.31);
      .box-link {
        position: absolute;
        display: table;
        width: 100%;
        height: 100%;
      }
      img {
        width: 115px;
        height: auto;
        max-height: 115px;
        max-width: 115px;
        border-radius: 100%;
        border: 2px solid $grey;
      }

      p {
        font-family: $ProximaNovaSoftRegular;
        font-size: 20px;
        margin-left: 15px;
        text-align: left;
        .link {
          font-size: 20px;
          &:last-child {
            font-weight: bold;
          }
        }
      }
    }
  }
  a.link {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .hw-btn {
    margin: 30px auto 0;
    text-decoration: none;
  }
}
@media screen and (max-width: 1215px) {
  section#recent-winners,
  section.winners-cards,
  #recent-winners-container {
    .container {
      max-width: 800px;
    }
  }
}

@media screen and (max-width: 815px) {
  section#recent-winners,
  section.winners-cards,
  #recent-winners-container {
    .container {
      max-width: 400px;
    }
  }
}


@media screen and (max-width: $first-break) {
  section#recent-winners,
  section.winners-cards,
  #recent-winners-container {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.294) 1px, #ffffff 40px, #e5e5e5);
    p.head {
      font-size: 35px;
      padding-top: 50px;
    }
    .container {
      padding: 0 0px;
      max-width: 360px;
      background: red;
      .box {
        width: 100%;
        padding: 23px 15px;
        
        img {
          width: 90px;
        }
        
        p {
          margin-left: 15px;
        }
      }
      .box.mob {display: none;}
    }
    
    a.link {
      font-size: 22px;
    }
  }
}