section#see-what {
  background-image: url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/footer_collage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: center;
  height: 600px;
  .foot {
    padding: 40px 0;
    h5 {
      font-family: $ProximaNovaSoftBold;
      text-align: center;
      font-size: 25px;
      margin-bottom: 15px;
    }
    p {
      font-family: $ProximaNovaSoftRegular;
      text-align: center;
      font-size: 25px;
      max-width: 550px;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 600px) {
  section#see-what {
  background-image: url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/footer_collage_mob@2x.png");
  background-position: center;
  height: 800px;
    .foot {
      padding: 40px 0;
      h5 {
        font-size: 24px;
      }
      p {
        padding: 0 10px;
        font-size: 24px;
      }
    }
  }
}
