#slider-wrapper {
  position: relative;
  width: 100%;
  height: 850px;

  .scroll-left,
  .scroll-right {
    position: absolute;
    height: 100%;
    width: 16%;
    z-index: 100;
    border: none;
    background: none;
    outline: none;
    top: 0;
    cursor: pointer;
  }
  .scroll-left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
    left: 0;
  }
  .scroll-right {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
    right: 0;
  }
}
#slider {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(219, 219, 219, 1));
  box-shadow: 0 -1px 90px rgba(0, 0, 0, 0.53);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;

  .case-wrapper {
    position: absolute;
    width: 1000px;
    height: 700px;
    box-shadow: 0px 0px 10px $shadowColor;
    background: white;
    z-index: 25;
    /*.......*/
    /*content*/
    /*'''''''*/

    .title {
      font-family: $ProximaNovaSoftBold;
      font-size: 30px;
      text-align: center;
      margin: 30px 0 15px 0;
    }

    .decoration-wrapper {
      margin-bottom: 20px;

      .decoration {
        display: table;
        height: 90px;
        width: 360px;
        margin: 0 auto;

        background-image: url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/slider/price_banner_desktop@2x.png");
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;

        p,
        h4 {
          font-family: $ProximaNovaSoftBold;
          color: white;
          text-align: center;
        }
        p {
          font-size: 20px;
          line-height: 10px;
          margin-top: 14px;
        }
        h4 {
          font-size: 40px;
        }
      }
    }

    .content {
      height: 360px;
      padding-left: 25px;
      .bio-img {
        float: left;
        width: 40%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .bio-info {
        float: left;
        padding: 0 25px;
        width: 60%;
        .bubble {
          width: 100%;
          background-image: linear-gradient(to bottom, $secondaryWhite, $mainWhite);
          border-radius: 35px 0px 35px 35px;
          padding: 28px 50px;
          p {
            font-family: $ProximaNovaSoftRegular;
            font-style: italic;
            font-size: 25px;
            text-align: center;
          }
        }
        .comment {
          font-family: $ProximaNovaSoftRegular;
          font-size: 25px;
          margin: 37px 0;

          a {
            text-transform: uppercase;
            color: $color1;
            text-decoration: none;
          }
        }
        .hw-btn a {
          text-decoration: none;
        }
      }
    }

    .foot {
      text-align: center;
      padding-top: 65px;
      .link {
        font-size: 25px;
      }
    }

    // /*........*/
    // /*position*/
    // /*''''''''*/

    $duration: .7s;
    $scaleMinus: scale(0.8);
    $scaleNormal: scale(1);

    &.left {
      transform: translate(-60%, 0%) $scaleMinus;
      z-index: 5;
    }

    &.from-left {
      animation-name: minFromLeft;
      animation-duration: $duration;
      animation-fill-mode: forwards;
      z-index: 100;
    }

    @keyframes minFromLeft {
      from {
        opacity: 0.8;
        transform: translate(-60%, 0%) $scaleMinus;
      }
      to {
        opacity: 1;
        transform: translate(0%, 0%) $scaleNormal;
      }
    }

    &.to-left {
      animation-name: minToLeft;
      animation-duration: $duration;
      animation-fill-mode: forwards;
    }

    @keyframes minToLeft {
      from {
        opacity: 1;
        transform: translate(0%, 0%) $scaleNormal;
      }
      to {
        opacity: 0.8;
        transform: translate(-60%, 0%) $scaleMinus;
      }
    }

    &.right {
      transform: translate(70%, 0%) $scaleMinus;
      z-index: 1;
      opacity: 0.8;
    }

    &.from-right {
      animation-name: minFromRight;
      animation-duration: $duration;
      animation-fill-mode: forwards;
      z-index: 100;
    }

    @keyframes minFromRight {
      from {
        opacity: 0.8;
        transform: translate(70%, 0%) $scaleMinus;
      }
      to {
        opacity: 1;
        transform: translate(0%, 0%) $scaleNormal;
      }
    }

    &.to-right {
      animation-name: minToRight;
      animation-duration: $duration;
      animation-fill-mode: forwards;
    }

    @keyframes minToRight {
      from {
        opacity: 1;
        transform: translate(0%, 0%) $scaleNormal;
      }
      to {
        opacity: 0.8;
        transform: translate(70%, 0%) $scaleMinus;
      }
    }

    &.center {
      transform: translate(0%, 0%);
      z-index: 10;
      opacity: 1;
    }

    &.out {
      transform: translate(0%, 200%);
    }

    &.from-out-right {
      animation-name: minFromOutRight;
      animation-duration: $duration;
      animation-fill-mode: forwards;
    }

    &.out-right {
      opacity: 0.8;
      transform: translate(206%, 0%);
    }

    &.out-left {
      opacity: 0.8;
      transform: translate(-206%, 0%);
    }

    @keyframes minFromOutRight {
      from {
        opacity: 0.8;
        transform: translate(250%, 0%) $scaleMinus;
      }
      to {
        opacity: 0.8;
        transform: translate(70%, 0%) $scaleMinus;
      }
    }

    &.to-out-left {
      animation-name: minToOutLeft;
      animation-duration: $duration;
      animation-fill-mode: forwards;
    }

    @keyframes minToOutLeft {
      from {
        opacity: 0.8;
        transform: translate(-60%, 0%) $scaleMinus;
      }
      to {
        opacity: 0.8;
        transform: translate(-250%, 0%) $scaleMinus;
      }
    }

    &.from-out-left {
      animation-name: minFromOutLeft;
      animation-duration: $duration;
      animation-fill-mode: forwards;
    }

    @keyframes minFromOutLeft {
      from {
        opacity: 0.8;
        transform: translate(-250%, 0%) $scaleMinus;
      }
      to {
        opacity: 0.8;
        transform: translate(-60%, 0%) $scaleMinus;
      }
    }

    &.to-out-right {
      animation-name: minToOutRight;
      animation-duration: $duration;
      animation-fill-mode: forwards;
    }

    @keyframes minToOutRight {
      from {
        opacity: 0.8;
        transform: translate(70%, 0%) $scaleMinus;
      }
      to {
        opacity: 0.8;
        transform: translate(250%, 0%) $scaleMinus;
      }
    }
  }
}

@media screen and (max-width: $first-break) {
  #slider-wrapper {
    height: 880px;

    .scroll-left,
    .scroll-right {
      background-image: none;
      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 40px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/play-symbol.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
    .scroll-left {
      &::before {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
  }
  #slider {
    height: 100%;
    width: 100%;
    box-shadow: none;
    .case-wrapper {
      width: 98%;
      height: 97%;

      .title {
        font-size: 19px;
      }
      .decoration-wrapper {
        .decoration {
          width: 330px;
          height: 60px;
          p {
            margin-top: 11px;
            font-size: 16px;
            line-height: 6px
          }
          h4 {
            font-size: 28px;
          }
        }
      }

      .content {
        padding: 10px;
        height: initial;
        .bio-img,
        .bio-info {
          float: none;
          width: 100%;
          margin: none;
        }

        .bio-info {
          padding: 10px;
          .bubble {
            padding: 10px;
            p {
              font-size: 18px;
            }
          }
          .comment {
            font-size: 18px;
            text-align: center;
          }
        }
      }
      .foot {
        padding: 0 20px;
        .link {
          padding: 0;
          font-size: 22px;
        }
      }

      $duration: .7s;
      $scaleMinus: scale(0.8);
      $scaleNormal: scale(1);

      &.left {
        transform: translate(-60%, 0%) $scaleMinus;
        z-index: 5;
        opacity: 0;
      }

      &.from-left {
        animation-name: minFromLeft;
        animation-duration: $duration;
        animation-fill-mode: forwards;
        z-index: 100;
      }

      @keyframes minFromLeft {
        from {
          opacity: 0;
          transform: translate(-60%, 0%) $scaleMinus;
        }
        to {
          opacity: 1;
          transform: translate(0%, 0%) $scaleNormal;
        }
      }

      &.to-left {
        animation-name: minToLeft;
        animation-duration: $duration;
        animation-fill-mode: forwards;
      }

      @keyframes minToLeft {
        from {
          opacity: 1;
          transform: translate(0%, 0%) $scaleNormal;
        }
        to {
          opacity: 0;
          transform: translate(-60%, 0%) $scaleMinus;
        }
      }

      &.right {
        transform: translate(70%, 0%) $scaleMinus;
        z-index: 1;
        opacity: 0;
      }

      &.from-right {
        animation-name: minFromRight;
        animation-duration: $duration;
        animation-fill-mode: forwards;
        z-index: 100;
      }

      @keyframes minFromRight {
        from {
          opacity: 0;
          transform: translate(70%, 0%) $scaleMinus;
        }
        to {
          opacity: 1;
          transform: translate(0%, 0%) $scaleNormal;
        }
      }

      &.to-right {
        animation-name: minToRight;
        animation-duration: $duration;
        animation-fill-mode: forwards;
      }

      @keyframes minToRight {
        from {
          opacity: 1;
          transform: translate(0%, 0%) $scaleNormal;
        }
        to {
          opacity: 0;
          transform: translate(70%, 0%) $scaleMinus;
        }
      }

      &.center {
        transform: translate(0%, 0%);
        z-index: 10;
        opacity: 1;
      }

      &.out {
        transform: translate(0%, 200%);
      }

      &.from-out-right {
        animation-name: minFromOutRight;
        animation-duration: $duration;
        animation-fill-mode: forwards;
      }

      &.out-right {
        opacity: 0;
        transform: translate(206%, 0%);
      }

      &.out-left {
        opacity: 0;
        transform: translate(-206%, 0%);
      }

      @keyframes minFromOutRight {
        from {
          opacity: 0;
          transform: translate(250%, 0%) $scaleMinus;
        }
        to {
          opacity: 0;
          transform: translate(70%, 0%) $scaleMinus;
        }
      }

      &.to-out-left {
        animation-name: minToOutLeft;
        animation-duration: $duration;
        animation-fill-mode: forwards;
      }

      @keyframes minToOutLeft {
        from {
          opacity: 0;
          transform: translate(-60%, 0%) $scaleMinus;
        }
        to {
          opacity: 0;
          transform: translate(-250%, 0%) $scaleMinus;
        }
      }

      &.from-out-left {
        animation-name: minFromOutLeft;
        animation-duration: $duration;
        animation-fill-mode: forwards;
      }

      @keyframes minFromOutLeft {
        from {
          opacity: 0;
          transform: translate(-250%, 0%) $scaleMinus;
        }
        to {
          opacity: 0;
          transform: translate(-60%, 0%) $scaleMinus;
        }
      }

      &.to-out-right {
        animation-name: minToOutRight;
        animation-duration: $duration;
        animation-fill-mode: forwards;
      }

      @keyframes minToOutRight {
        from {
          opacity: 0;
          transform: translate(70%, 0%) $scaleMinus;
        }
        to {
          opacity: 0;
          transform: translate(250%, 0%) $scaleMinus;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #slider-wrapper {
    height: 850px;
  }
}

@media screen and (max-width: 420px) {
  #slider-wrapper {
    height: 820px;
  }
}
