footer {
  max-width: 1180px;
  margin: 0 auto;
  & * {
    font-family: $lato;
    font-size: 14px;
    color: #bbb;
  }
  a {
    text-decoration: none;
  }
  .top {
    display: table;
    width: 100%;
    padding-bottom: 5px;
    .container {
      display: table;
      float: right;
      text-align: center;
      a {
        margin: 0 5px;
        text-transform: uppercase;
        outline: none;
      }
    }
  }
  .bottom {
    padding-top: 10px;
    .social,
    .copy {
      display: table;
    }
    .social {
      float: left;
      margin-bottom: 30px;
      a {
        display: table;
        float: left;
        width: 32px;
        height: 32px;
        margin: 0 5px;
        background-repeat: no-repeat;
        background-image: url("https://thewinningskinny.com/wp-content/static/hwager-precalculator-lp/img/sprite-media2.png");
        &.facebook {
          background-position: 0px
        }
        &.tweeter {
          background-position-x: -32px;
        }
        &.instagram {
          background-position-x: -160px;
        }
        &.pinterest {
          background-position-x: -128px;
        }
      }
    }
    .copy {
      float: right;
      margin-top: 7px;
    }
  }
}

@media screen and (max-width: $first-break) {
  footer {
    width: 100%;
    max-width: initial;
    .top {
      padding: 10px 10px 20px 10px;
    }
    .bottom {
      .social,
      .copy {
        float: none;
        display: block;
        text-align: center;
      }
      .social {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
      }
      .copy {
        margin-bottom: 30px;
      }
    }
  }

}
