section#for-real {
  padding-top: 60px;
  text-align: center;
  box-shadow: 0 -1px 90px rgba(0, 0, 0, 0.53);
  padding-bottom: 60px;
  .head {
    h3 {
      font-size: 45px;
      color: $color1;
      margin-bottom: 30px;
      font-family: $ProximaNovaSoftBold;
    }
    p {
      font-size: 25px;
      font-family: $ProximaNovaSoftRegular;
      max-width: 646px;
      margin: 0 auto;
    }
  }

  .social-icons {
    width: 100%;
    max-width: 800px;
    margin: 40px auto;
    .row {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 20px 0;
    }
    div:first-child {
      padding: 0 40px;
    }
  }

  .hw-btn {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .advice {
    text-align: center;
    .head {
      font-family: $ProximaNovaSoftRegular;
      font-size: 30px;
      color: $color1;
    }
    .box {
      display: table;
      margin: 5px auto;
      padding: 5px 45px;
      font-family: $ProximaNovaSoftBold;
      font-size: 55px;
      color: white;
      background-color: $color3;
      box-shadow: 5px 5px 0px $color4;
    }
    .small {
      font-family: $ProximaNovaSoftRegular;
      font-size: 25px;
      max-width: 410px;
      margin: 30px auto;
      b {
        font-family: $ProximaNovaSoftBold;
      }
    }
  }

  .winners-wrapper {
    .head {
      text-align: center;
      font-family: $ProximaNovaSoftBold;
      font-size: 35px;
      margin-bottom: 35px;
    }
    .container {
      width: 100%;
      max-width: 1100px;
      margin: 0 auto;
      display: table;
      padding-left: 30px;

      .winner {
        width: calc(24.9% - 30px);
        float: left;
        margin-right: 30px;
        img {
          width: 100%;
          height: auto;
          margin-bottom: 5px;
        }
        .link {
          font-size: 25px;
        }
      }
    }
    .linkrow {
      margin-top: 50px;
      .link {
        font-size: 25px;
        margin-left: 5px;
      }
    }
  }
}

@media screen and (max-width: $first-break) {
  section#for-real {
    box-shadow: none;
    padding: 20px 30px;
    .head {
      margin-top: 30px;
      h3 {
        font-size: 35px;
        margin-bottom: 20px;
      }
      p {
        padding: 0 10px;
        font-size: 24px;
      }
    }

    .social-icons {
      .row {
        max-width: 450px;
        margin: 20px auto;
        img {
          max-width: 95px;
          height: auto;
        }
      }
      div:first-child {
        padding: 10px;
      }
      div:nth-child(2) {
        img {
          max-width: 130px;
        }
      }
    }

    .hw-btn {
      margin-bottom: 50px;
    }

    .advice {
      .head {
        margin-bottom: 15px;
      }
      .box {
        font-size: 24px;
      }
      .small {
        font-size: 24px;
        padding: 10px;
        margin: 10px auto;
      }
    }

    .winners-wrapper {
      .container {
        padding: 0 10px;
        .winner {
          width: calc(49.9% - 30px);
          margin: 15px;
          .link {
            font-size: 19px;
          }
        }
      }

      .linkrow {
        padding: 0 5px;
        .link {
          font-size: 19px;
        }
      }
    }
  }
}

@media screen and (max-width: $first-break) {
  section#for-real {
    .social-icons {
      .row {
        max-width: 100%;
        margin: 20px auto;
        img {
          max-width: 75px;
          height: auto;
        }
      }
      div:first-child {
        padding: 10px;
      }
      div:nth-child(2) {
        img {
          max-width: 130px;
        }
      }
    }
  }
}
