section#pre-foot {
  padding-bottom: 30px;
  .hw-btn {
    margin: 20px auto;
  }
  .link {
    display: table;
    margin: 20px auto;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  section#pre-foot {
    .hw-btn {
      margin-bottom: 20px;
    }
    section#pre-foot {
      .link {
        font-size: 22px;
      }
    }
  }
}