@import "fonts";
@import "colors";
@import "breakpoints";
@import "assets";
@import "global";

//sections
@import "header", "slider", "for-real", "recent-winners", "how-works", "see-what", "pre-foot";
@import "footer";

.hidden {
    visibility: hidden !important;
    display: none !important; }
  
  @keyframes fadein {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
  
  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
  
  /* Internet Explorer */
  @-ms-keyframes fadein {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
  
  /* Opera < 12.1 */
  @-o-keyframes fadein {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
  